<div class="{% if section.settings.include_margins %}page-width{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  {%- for block in section.blocks -%}
    {% render block %}
    {% if block.type == 'review' %}
      <div class="review-block custom-review">
        <div class="review-with-star review__inner">
          {% if block.settings.review_image != blank %}
            <img src="{{ block.settings.review_image | image_url }}" alt="{{ block.settings.review_image.alt }}" loading="lazy" height="auto" width="100%">
          {% endif %}
          {% if block.settings.review_text != blank %}
            <p class="review__text">{{ block.settings.review_text }}</p>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "t:sections.apps.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.apps.settings.include_margins.label"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "review",
      "name": "Reviews",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "review_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "review_text",
          "label": "Review text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.apps.presets.name"
    }
  ]
}
{% endschema %}
